* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(155, 188, 224, 0.45);
    font-family: Arial sans-serif;
    margin: 0;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    padding: 50px;
    margin: 70px 0 20px 0;
    color: rgb(37, 68, 100);
    border-radius: 7px;
    background: rgba(168, 200, 231, 0.51);
}

.main-wrapper > h3 {
    font-size: 27px;
}

.main-wrapper > button {
    width: 90%;
    height: 40px;
    background: rgba(143, 174, 208, 0.51);
    border: 2px solid rgba(89, 123, 152, 0.51);
    border-radius: 7px;
    font-size: 17px;
    color: rgb(37, 68, 100);
}

.paragraph-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.paragraph-wrapper > p {
    font-size: 21px;
    padding: 30px 30px 40px 30px;
}

.posts-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.postsInfo {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 325px;
    height: 100px;
    padding: 10px;
    gap: 20px;
    border-radius: 7px;
    background: rgba(168, 200, 231, 0.51);
    color: rgb(37, 68, 100);
    font-size: 18px;
}

.postsInfo > button {
    background: rgba(143, 174, 208, 0.51);
    border: 1px solid rgba(89, 123, 152, 0.51);
    border-radius: 7px;
    font-size: 14px;
    color: rgb(37, 68, 100);
    height: 30px;
    width: 325px;
}