@media screen and (min-width: 375px) and (max-width: 769px) {
    .main-wrapper {
        margin-top:25px;
        width: 85vw;
        height: 92vh;
    }
    #input_name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width:100px;
        height: 25px;
    }
    #output {
        width: 100px;
        height: 30vh;
    }
    .buttons_wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        height: 28.5vh;
        margin-left: 50px;
    }
    .add_delete_wrapper{

    }

}