* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #bdbdea;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-wrapper {
    margin-top: 180px;
    width: 45vw;
    height: 60vh;
    background: #e9e9f5;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 100px;
    height: 43vh;
}

#input_name_value {
    width: 450px;
    height: 40px;
    outline: #c8c0da;
    border: 2px solid #c8c0da;
    color: rgb(95, 67, 122);
    background-color: rgba(226, 221, 236, 0.44);
    border-radius: 10px;
    padding: 0 5px;
    margin-bottom: 15px;
}

#input_name_value::placeholder {
    color: #c8c0da;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element {
    display: flex;
    align-items: center;
    margin: 5px;
}
#checkboxes {
    margin: 5px;
}
#output {
    width: 450px;
    height: 33vh;
    outline: #c8c0da;
    border: 2px solid #c8c0da;
    background-color: rgba(226, 221, 236, 0.44);
    color: rgb(95, 67, 122);
    border-radius: 10px;
    padding: 0 5px;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
}

#value_pair {
    display: flex;
    flex-direction: column;
    color: #bdb2d5;
    font: bold 16px sans-serif;
}

#pair_list {
    display: flex;
    flex-direction: column;
    color: #bdb2d5;
    font: bold 16px sans-serif;
}

h2 {
    margin: 10px 0;
    font: bold 30px sans-serif;
    color: #7C4DA6BA;
}

.buttons_wrapper {
    display: flex;
    justify-content: start;
    align-content: center;
    flex-direction: column;
    height: 27vh;
    width: 25vw;
    margin: 0 50px 0;
}

#add, #sort_by_name, #sort_by_value, #delete {
    border: none;
    color: white;
    border-radius: 12px;
    width: 150px;
    height: 40px;
    font: bold 17px sans-serif;
    margin: 5px 0;
}

#add {
    background: rgb(108, 84, 173);
    margin: 0 0 25px 0;
}

#delete {
    background: #be4942;
}

#sort_by_name, #sort_by_value {
    background: rgb(150, 128, 206);
}

#sort_by_name:hover {
    background: rgba(150, 128, 206, 0.88);
}

#sort_by_value:hover {
    background: rgba(150, 128, 206, 0.88);
}

#add:hover {
    background: rgba(101, 75, 169, 0.87);
}

#delete:hover {
    background: rgba(190, 73, 66, 0.85);
}