@media screen and (min-width: 0) and (max-width: 768px) {
    .main-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        width: 95vw;
        height: 92vh;
    }

    #info-wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        margin-left: 0;
        height: 70vh;
        width: 82vw;
    }

    #input_name_value {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 80vw;
        height: 30px;
    }

    #output {
        width: 80vw;
        height: 30vh;
    }

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .buttons_wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        height: 15vh;
        width: 60vw;
        padding-bottom: 100px;
        margin: 0;
    }

    .add_delete_buttons {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .sort_buttons {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    #add, #sort_by_name, #sort_by_value, #delete {
        font-size: 16px;
        width: 100%;
        height: 40px;
    }

    #add {
        margin: 0;
    }

    #sort_by_value, #delete {
        margin-left: 15px
    }
}