@media screen and (min-width: 769px) and (max-width: 1279px) {
    .main-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 60px 0;
        width: 90vw;
        height: 85vh;
    }

    #input_name_value {
        width: 550px;
        height: 47px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        color: #c8c0da;
        font: bold 16px sans-serif;
    }

    #input_name_value::placeholder {
        font-size: 18px;
        height: 40px;
    }

    #info-wrapper {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-left: 35px;
        height: 50vh;
    }

    #output {
        width: 550px;
        height: 45vh;
    }


    h2 {
        font-size: 35px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
    }

    #add, #sort_by_name, #sort_by_value, #delete {
        border: none;
        color: white;
        border-radius: 12px;
        width: 150px;
        height: 50px;
        font: bold 18px sans-serif;
    }

    #add {
        background: #6D50C3;
        margin: 0 0 33px 0;
    }

    .buttons_wrapper {
        height: 25vh;
        width: 25vw;
        margin: 0 10px 0;
    }
}