@media screen and (min-width: 769px) and (max-width: 1279px) {
    .main-wrapper {
        margin-top: 80px;
        width: 85vw;
        height: 80vh;
    }
    #input_name {
        width: 500px;
        height: 40px;
    }
    #input_name::placeholder {
        font-size:18px;
    }
    #output {
        width: 500px;
        height: 30vh;
    }
    label{
        font: bold 16px sans-serif;
    }
    #top_label {
        margin-top: 20px;
    }
    h2{
        font-size: 32px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #add,#sort_by_name,#sort_by_value,#delete {
        border: none;
        color: white;
        border-radius: 12px;
        width: 140px;
        height: 42px;
        font: bold 17px sans-serif;
    }
    .buttons_wrapper {
        display: flex;
        justify-content: start;
        align-content: center;
        flex-direction: column;
        height: 28.5vh;
        margin-left: 50px;
    }
}