@media screen and (min-width: 769px) and (max-width: 1279px) {
    .main-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 60px 0;
        width: 90vw;
        height: 85vh;
        padding: 30px;
    }

    #info-wrapper {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        height: 55vh;
        margin-left: 0;
        /*margin: 0 auto;*/
    }

    #input_name_value {
        height: 47px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    #input_name_value::placeholder {
        font-size: 18px;
        height: 40px;
    }

    #output {
        height: 35vh;
    }

    h2 {
        font-size: 35px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
    }

    #add, #sort_by_name, #sort_by_value, #delete {
        width: 15vw;
        height: 40px;
    }

    #add {
        margin: 0 0 33px 0;
    }

    .buttons_wrapper {
        width: 35vw;
        margin: 0 10px 0;
    }
}